
*{
  margin: 0;
  padding: 0;
}
ul{
  list-style:none;
}
html{
  margin: 0;
  background: #EEE;
}

#wrap {
  width: 100vw;
  margin: 0 auto;
  max-width: 360px;
}

.m5 {
  margin: 5px;
}
.p0 {
  padding: 0;
}

.mp0 {
  margin: 0;
  padding: 0;
}
.mp5 {
  margin: 5px;
  padding: 5px;
}
.mp10 {
  margin: 10px;
  padding: 10px;
}

/* おのバナー */
#shopbanner {
  height: 5em;
  background: #aaa;
  background: url('/images/shoplogo.png')  #D8D;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 360度カメラ */
#cammera360 {
  height: 250px;
  margin: 3px;
  padding: 0;
  background: #fff;
}

/* 通常営業の雰囲気が分かる動画 */
#cammeraMovie {
  padding: 0;
  height: 8em;
  background: url('/images/shopimage.png');
  border: 3px solid #ffc900;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  width: 97vw;
  margin-top: -138px;

}

/* 販売アイテム */
#shopArea {
  background: #FFF;
}

.header-primery{
  font-size:1.2em;
  font-weight:bold;
  margin:0;
}

#shopArea > ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#shopArea > ul li img {
  width: 80px;
  margin: 5px;
  background: #FFF;
  border: 3px solid #FFF;
  border-radius: 5px;
}

.button-buy {
  width: 100px;
}

#systemCaption {
  font-size: 8px;
  text-align: center;
  padding-bottom: 1em;
}

.button-buy a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 2px #333;
  width: 70px;
  color: #fff;
  padding: 0.8em;
  background: #ffca00;
  font-weight: bold;
}

a.cartBtn {
  color: #fff;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 2px #333;
  width: 70px;
  color: #fff;
  padding: 0.8em;
  background: #f8d3e6;
  font-weight: bold;
}
 
.button2 {
  border: 3px solid #fff;
  background: #ffce00;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  color: snow;
  padding: 1em;
  width: 80%;
  display: block;
  margin: 0 auto;
}
.mt10{
  margin-top: 10px;
}
.deleteButton {
  color: #fff;
  width: 80px;
  background: #767676;
  text-decoration: none;
  display: block;
  font-size: 1.2em;
  box-shadow: 0 0 3px #aaa;
  border-radius: 5px;
  border: 3px solid #fff;
  text-align: center;
}
.w80 {
  width:80%;
}
.itemTitle {
  font-size: 1.2em;
  word-spacing: 1em;
  letter-spacing: 5px;
  margin: 20px 10px;
}
.button1 {
    color: #ffca00;
    font-size: 1.7em;
    border: solid;
    background: snow;
    margin-bottom: 1em;
}
